*.o
*.lo
Makefile
/config.h
/config.log
/config.status
/doc/Makefile
/doc/editline.3
/doc/editrc.5
/examples/.deps/
/examples/.libs/
/examples/Makefile
/examples/fileman
/examples/tc1
/examples/wtc1
/libedit.pc
/libtool
/src/.deps/
/src/.libs/
/src/Makefile
stamp-h1
